# Dependencies
/node_modules

# Environment variables
.env
git remote add origin git@github.com:kangmin04/Booking_app.git

cookie.txt

client/node_modules/

# api 쪽
api/node_modules/

# 공통
node_modules/
node_modules