


.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
    position: relative;
}

.featuredItem {
    color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .featuredImg {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .featuredTitles {
    position: absolute;
    bottom: 10px;
    color: white;
    z-index: 2;
    padding-left: 10px;
  }
