.listContainer {
    display: flex;
    justify-content: center; /* Center the content */
    margin-top: 20px;
    width: 100%;
}

.listWrapper {
    display: flex;
    justify-content: space-between; /* Makes sure the items are spaced out */
    gap: 20px;
    width: 100%; /* Ensure the wrapper takes the full width */
    max-width: 1024px; /* Limit the width */
}

.listSearch {
    flex: 0 0 300px; /* Fix the width of the search panel */
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
}

.lsTitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem > label {
    font-size: 12px;
}

.lsItem > input {
    height: 30px;
    border: none;
    padding: 5px;
}

.lsOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.lsOptionInput {
    width: 50px;
}

.listSearch > button {
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.listSearchResult {
    flex: 1;
}
