

.list {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // gap: 20px; 
    padding: 10px 5px 0px 0px;
    min-width: 0;
   width : 400px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .user{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;    
        max-height: 70px;
    }
    .userInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .username {
            font-size: 14px;
            font-weight: 500;
        }

        .email{
            font-size: 12px;
        }
    }

    .amount{
        font-weight: 500;
    }
}