@use '../../styles/variable.scss' as *; 

.chartBox{
    display: flex;
    justify-content: space-between;


    .boxInfo{
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex : 3 ; 



        .title {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    // .view{s
    //     // color : $dark-color;
    // }
    .charts{
        width: 100%;
        height: 100%;
    }
    .chartInfo{
        flex : 2 ; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .texts{
        display: flex;
        flex-direction: column;
        text-align: right;


        .percentage {
            font-size: 20px;
            font-weight: 500;
        }

        .duration {
            font-size: 16px;
        }
    }
}

