@use '../../styles/variable.scss' as *; 
@use '../../styles/responsive.scss' as *; 
.single {
    display: flex;
    
    @include xl {
        flex-direction: column;
        gap: 40px;
    }
    .view {
        flex-basis: 50%;
    
        .info {
            display: flex;
            flex-direction: column;
            gap: 20px;

        }

        .topInfo {


            display: flex; 
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;

            button {
                width: 70px;
                height: 25px;
                border-radius: 5px;
                outline: none;
            }
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }            
        }
    }


    .details {
        display: flex;
        flex-direction: column;
        gap: 50px;

    }

    .chart {
        margin-top: 20px;
    }


    .activities {
        
        li {
            position: relative ; 
            list-style-type: none;
            width: 1px;
            padding-top: 50px; 
            background-color: #f45b69;
            


            &::after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%) ;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color:#f45b69;
            }


            div {
                min-width: 480px;
                background-color: #f45b6810;

                p {
                    margin-bottom: 5px;
                }
                
                time {
                    font-size: 12px;
                }
            }
        }

    
    }
}