@use '../../styles/variable.scss' as *; 

.single {
    display: flex;
    
    .view {
        flex-basis: 50%;
    }


    .activites {
        
        li {
            position: relative ; 
            list-style-type: none;
            width: 1px;
            padding-top: 50px; 
            background-color: #f45b69;
            


            &::after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%) ;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color:#f45b69;
            }


            div {
                min-width: 480px;
                background-color: #f45b6810;

                p {
                    margin-bottom: 5px;
                }
                
                time {
                    font-size: 12px;
                }
            }
        }

    
    }
}