@use  '../../styles/responsive.scss' as *;


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px;
    width: 100%;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;   
    font-weight: bold;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
        width: 30px;
        height: 30px;

        @include lg {
            display: none;
        }
     
    }
    

    .notification {
        position : relative ; 
        
        img {
            width: 30px;
            height: 30px;
        }
        span {
            background-color: red;
            color : white; 
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top : -5px;
            right: -1px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
    }

    .user {
        display: flex;
        flex-direction: row;
        width: 20px;
        height: 20px;
         margin-right: 60px;
    }
}