@use '../../styles/variable.scss' as * ; 

.user {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;

    .info{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 10px;
       align-items: center;

        .userAddButton {
            width: 80px;
            height: 30px;
        }
    }
}
   
.view{
    margin : 0;
    padding: 0;
}
.delete{
    margin : 0;
    padding: 0; 
}
