@use '../../styles/variable.scss' as *;
@use '../../styles/responsive.scss' as *;

.menu{
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        flex-direction: column;
        gap : 10px; 
        
        .title {
            font-size: 16px;
            font-weight: 200;
            color : $soft-color;
            text-transform: uppercase;


            @include lg {
                display: none;
            }
        }


        .listItem {
            display: flex;
            align-items: center;
            width: 230px;
            padding: 10px;
            border-radius: 5px;
            gap : 10px;
            justify-content: start;
            @include lg {
                width: max-content;
            }
            &:hover {
                background-color: $soft-bg;
                
            }

            img {
                width: 30px;
                height: 30px;
            }
            
            .listItemTitle {
                @include lg {
                    display: none;
                }
            }
        }
    }
}