.barChart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
       
        margin-bottom: 20px;
    }


    .chartInfo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}